@import "tailwindcss";

*,
button,
body {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: hsl(218, 100%, 97%);
}

@theme {
  --color-blue200: hsl(206, 94%, 87%);
  --color-blue300: hsl(228, 100%, 84%);
  --color-blue950: hsl(213, 96%, 18%);
  --color-grey500: hsl(231, 11%, 63%);
  --color-purple200: hsl(229, 24%, 87%);
  --color-purple600: hsl(243, 100%, 62%);
  --color-red500: hsl(354, 84%, 57%);
}
